div{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    
}

#img-1{
    width: 300px;
    height: 200px;
}
#img-2{
    width: 300px;
}


#img-3{
    width: 300px;
    height: 200px;
}