body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color:  #1b75ff;
}

#box{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: box 3s infinite linear;
    background-color: bisque;
}

@keyframes box{
    25%{
        transform: translateX(0px)

    }
    100%{
        transform: translateX(1300px);
    }
}