body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #1b75ff;
}

#box-1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: box-1 3s infinite linear;
    background-color: bisque;
}

@keyframes box-1{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(600px);
    }
    
}