body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#box{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blue;
    animation: box 0.8s infinite alternate ease-in;
}





@keyframes box{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(250px);
    }
}